* {
   margin: 0px;
   padding: 0px;
}

/*CSS Vem aqui em baixo*/
header {
   background-color: #98ad70;
   padding: 20px 0px;
   position: fixed;
   width: 100%;
}

body {
   font-family: 'Arial', sans-serif;
   background-color: #dee9d5;
   color: #536F3E;
}

body a {
   text-transform: uppercase;
   text-decoration: none;
   color: #3D5F23;
}

body a:hover {
   text-decoration: underline;
   color: rgb(104, 88, 68);
   font-weight: bold;

}

#apres {
   font-family: "dancing-script", cursive;
   margin-bottom: 20px;
   background-color: rgb(255, 253, 253);
   padding-top: 60px;
}

#info {
   padding-top: 60px;
}

#sobre {
   padding-top: 60px;
}

#habil {
   padding-top: 60px;
}
footer {
   background-color: #98ad70;
}
footer ul{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   list-style-type: none;
}
.icone {
   fill: #536F3E;
   stroke: #536F3E;
   stroke-width: 5px;
   width: 50px;
   height: 50px;
   
}